.banner {
  height: 90vh;
  /* border: 1px solid white; */
  width: 100vw;
  object-fit: contain;
  color: white;
}
.banner__content {
  height: 190px;
  margin-top: auto;
  margin-left: 20px;
  padding-top: 120px;
}
.btns {
  background-color: orange;
  outline: none;
  border: none;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-right: 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  transition: all 500ms;
}
.btns:hover {
  color: gray;
  background-color: white;
  transform: scale(1.2);
}

.banner__content h1 {
  padding: 0;
  margin: 0;
  padding-bottom: 0.5vh;
}
.banner__content h4 {
  line-height: 1.3;
  width: 70vw;
  padding-top: 1vh;
  font-size: 15px;
  font-weight: 600;
  /* where line-height mtlb dono line k bich ki height mtlb gap wher line-height=1 mtlb 1 times of line-font-size  */
}
.banner__fading {
  height: 50vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
